@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body{
   font-family:  'Poppins', sans-serif;
}

body{
    background-color: lightcyan;
}

.navbar{
    width: 70vw;
    margin: 10px auto;
}

.navbar .mainlogo{
    float:left;
}

.navbar .options{
    float:right;
}

.navbar::after{
    content:"";
    display:block;
    clear: both;
}

.option{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.mainlogo a{
    text-decoration: none;
    color: rgb(137, 15, 80);
}

.navbar .option a{
    text-decoration: none;
    color: rgb(137, 15, 80);
}

.studentForm{
    width:50vw;
    text-align: center;
    margin: 20px auto;
}

.studentForm .soption{
border: 1.5px solid rgb(137, 15, 80);
padding: 1px 10px 1px 10px;
border-radius: 10px;
display:inline-block;
font-size: 20px;
}

.studentForm .soption a{
    text-decoration: none;
    color: black;
}

.studentForm .soption a:hover{
    text-decoration: underline;
    font-size: 25px;
    color: rgb(137, 15, 80);
    font-weight: 700;
}